In [5]:
testcol = [[
            "value" + str(i+1),
            "flag" + str(i +1)]
            for i in range(10)]

testcol

[['value1', 'flag1'],
 ['value2', 'flag2'],
 ['value3', 'flag3'],
 ['value4', 'flag4'],
 ['value5', 'flag5'],
 ['value6', 'flag6'],
 ['value7', 'flag7'],
 ['value8', 'flag8'],
 ['value9', 'flag9'],
 ['value10', 'flag10']]

In [13]:
if type(testcol) == list:
    print("a is a list")
else:
    print("a is a tuple")

a is a list

In [10]:
testcol2 = sum(testcol, [])

In [11]:
testcol2

['value1',
 'flag1',
 'value2',
 'flag2',
 'value3',
 'flag3',
 'value4',
 'flag4',
 'value5',
 'flag5',
 'value6',
 'flag6',
 'value7',
 'flag7',
 'value8',
 'flag8',
 'value9',
 'flag9',
 'value10',
 'flag10']

In [14]:
import itertools

In [15]:
# merged = list(itertools.chain.from_iterable(list2d))

flat = list(itertools.chain.from_iterable(testcol))

In [16]:
flat

['value1',
 'flag1',
 'value2',
 'flag2',
 'value3',
 'flag3',
 'value4',
 'flag4',
 'value5',
 'flag5',
 'value6',
 'flag6',
 'value7',
 'flag7',
 'value8',
 'flag8',
 'value9',
 'flag9',
 'value10',
 'flag10']

In [17]:
data_header_dtypes = {
    "ID": str,
    "YEAR": int,
    "MONTH": int,
    "ELEMENT": str}

In [18]:
data_header_dtypes

{'ID': str, 'YEAR': int, 'MONTH': int, 'ELEMENT': str}

In [19]:
data_col_dtypes = [{
    "VALUE" + str(i + 1): int,
    "MFLAG" + str(i + 1): str,
    "QFLAG" + str(i + 1): str,
    "SFLAG" + str(i + 1): str}
    for i in range(31)]

data_col_dtypes

[{'VALUE1': int, 'MFLAG1': str, 'QFLAG1': str, 'SFLAG1': str},
 {'VALUE2': int, 'MFLAG2': str, 'QFLAG2': str, 'SFLAG2': str},
 {'VALUE3': int, 'MFLAG3': str, 'QFLAG3': str, 'SFLAG3': str},
 {'VALUE4': int, 'MFLAG4': str, 'QFLAG4': str, 'SFLAG4': str},
 {'VALUE5': int, 'MFLAG5': str, 'QFLAG5': str, 'SFLAG5': str},
 {'VALUE6': int, 'MFLAG6': str, 'QFLAG6': str, 'SFLAG6': str},
 {'VALUE7': int, 'MFLAG7': str, 'QFLAG7': str, 'SFLAG7': str},
 {'VALUE8': int, 'MFLAG8': str, 'QFLAG8': str, 'SFLAG8': str},
 {'VALUE9': int, 'MFLAG9': str, 'QFLAG9': str, 'SFLAG9': str},
 {'VALUE10': int, 'MFLAG10': str, 'QFLAG10': str, 'SFLAG10': str},
 {'VALUE11': int, 'MFLAG11': str, 'QFLAG11': str, 'SFLAG11': str},
 {'VALUE12': int, 'MFLAG12': str, 'QFLAG12': str, 'SFLAG12': str},
 {'VALUE13': int, 'MFLAG13': str, 'QFLAG13': str, 'SFLAG13': str},
 {'VALUE14': int, 'MFLAG14': str, 'QFLAG14': str, 'SFLAG14': str},
 {'VALUE15': int, 'MFLAG15': str, 'QFLAG15': str, 'SFLAG15': str},
 {'VALUE16': int, 'MFLAG16': str, 'QFLAG16': str, 'SFLAG16': str},
 {'VALUE17': int, 'MFLAG17': str, 'QFLAG17': str, 'SFLAG17': str},
 {'VALUE18': int, 'MFLAG18': str, 'QFLAG18': str, 'SFLAG18': str},
 {'VALUE19': int, 'MFLAG19': str, 'QFLAG19': str, 'SFLAG19': str},
 {'VALUE20': int, 'MFLAG20': str, 'QFLAG20': str, 'SFLAG20': str},
 {'VALUE21': int, 'MFLAG21': str, 'QFLAG21': str, 'SFLAG21': str},
 {'VALUE22': int, 'MFLAG22': str, 'QFLAG22': str, 'SFLAG22': str},
 {'VALUE23': int, 'MFLAG23': str, 'QFLAG23': str, 'SFLAG23': str},
 {'VALUE24': int, 'MFLAG24': str, 'QFLAG24': str, 'SFLAG24': str},
 {'VALUE25': int, 'MFLAG25': str, 'QFLAG25': str, 'SFLAG25': str},
 {'VALUE26': int, 'MFLAG26': str, 'QFLAG26': str, 'SFLAG26': str},
 {'VALUE27': int, 'MFLAG27': str, 'QFLAG27': str, 'SFLAG27': str},
 {'VALUE28': int, 'MFLAG28': str, 'QFLAG28': str, 'SFLAG28': str},
 {'VALUE29': int, 'MFLAG29': str, 'QFLAG29': str, 'SFLAG29': str},
 {'VALUE30': int, 'MFLAG30': str, 'QFLAG30': str, 'SFLAG30': str},
 {'VALUE31': int, 'MFLAG31': str, 'QFLAG31': str, 'SFLAG31': str}]

In [29]:
flat_data_col_dtypes = list(itertools.chain.from_iterable(data_col_dtypes))

In [30]:
flat_data_col_dtypes

['VALUE1',
 'MFLAG1',
 'QFLAG1',
 'SFLAG1',
 'VALUE2',
 'MFLAG2',
 'QFLAG2',
 'SFLAG2',
 'VALUE3',
 'MFLAG3',
 'QFLAG3',
 'SFLAG3',
 'VALUE4',
 'MFLAG4',
 'QFLAG4',
 'SFLAG4',
 'VALUE5',
 'MFLAG5',
 'QFLAG5',
 'SFLAG5',
 'VALUE6',
 'MFLAG6',
 'QFLAG6',
 'SFLAG6',
 'VALUE7',
 'MFLAG7',
 'QFLAG7',
 'SFLAG7',
 'VALUE8',
 'MFLAG8',
 'QFLAG8',
 'SFLAG8',
 'VALUE9',
 'MFLAG9',
 'QFLAG9',
 'SFLAG9',
 'VALUE10',
 'MFLAG10',
 'QFLAG10',
 'SFLAG10',
 'VALUE11',
 'MFLAG11',
 'QFLAG11',
 'SFLAG11',
 'VALUE12',
 'MFLAG12',
 'QFLAG12',
 'SFLAG12',
 'VALUE13',
 'MFLAG13',
 'QFLAG13',
 'SFLAG13',
 'VALUE14',
 'MFLAG14',
 'QFLAG14',
 'SFLAG14',
 'VALUE15',
 'MFLAG15',
 'QFLAG15',
 'SFLAG15',
 'VALUE16',
 'MFLAG16',
 'QFLAG16',
 'SFLAG16',
 'VALUE17',
 'MFLAG17',
 'QFLAG17',
 'SFLAG17',
 'VALUE18',
 'MFLAG18',
 'QFLAG18',
 'SFLAG18',
 'VALUE19',
 'MFLAG19',
 'QFLAG19',
 'SFLAG19',
 'VALUE20',
 'MFLAG20',
 'QFLAG20',
 'SFLAG20',
 'VALUE21',
 'MFLAG21',
 'QFLAG21',
 'SFLAG21',
 'VALUE22',
 'MFLAG22',
 'QFLAG22',
 'SFLAG22',
 'VALUE23',
 'MFLAG23',
 'QFLAG23',
 'SFLAG23',
 'VALUE24',
 'MFLAG24',
 'QFLAG24',
 'SFLAG24',
 'VALUE25',
 'MFLAG25',
 'QFLAG25',
 'SFLAG25',
 'VALUE26',
 'MFLAG26',
 'QFLAG26',
 'SFLAG26',
 'VALUE27',
 'MFLAG27',
 'QFLAG27',
 'SFLAG27',
 'VALUE28',
 'MFLAG28',
 'QFLAG28',
 'SFLAG28',
 'VALUE29',
 'MFLAG29',
 'QFLAG29',
 'SFLAG29',
 'VALUE30',
 'MFLAG30',
 'QFLAG30',
 'SFLAG30',
 'VALUE31',
 'MFLAG31',
 'QFLAG31',
 'SFLAG31']

In [32]:
"""
File: read_ghcn.py
Author: ned haughton
Description: Code for reading GHCN dly file data
"""

import pandas as pd
import numpy as np

# Metadata specs #

metadata_col_specs = [
    (0,  12),
    (12, 21),
    (21, 31),
    (31, 38),
    (38, 41),
    (41, 72),
    (72, 76),
    (76, 80),
    (80, 86)
]

metadata_names = [
    "ID",
    "LATITUDE",
    "LONGITUDE",
    "ELEVATION",
    "STATE",
    "NAME",
    "GSN FLAG",
    "HCN/CRN FLAG",
    "WMO ID"]

metadata_dtype = {
    "ID": str,
    "STATE": str,
    "NAME": str,
    "GSN FLAG": str,
    "HCN/CRN FLAG": str,
    "WMO ID": str
    }


# Data specs #

data_header_names = [
    "ID",
    "YEAR",
    "MONTH",
    "ELEMENT"]

data_header_col_specs = [
    (0,  11),
    (11, 15),
    (15, 17),
    (17, 21)]

data_header_dtypes = {
    "ID": str,
    "YEAR": int,
    "MONTH": int,
    "ELEMENT": str}

data_col_names = [[
    "VALUE" + str(i + 1),
    "MFLAG" + str(i + 1),
    "QFLAG" + str(i + 1),
    "SFLAG" + str(i + 1)]
    for i in range(31)]
# Join sub-lists
data_col_names = sum(data_col_names, [])

data_replacement_col_names = [[
    ("VALUE", i + 1),
    ("MFLAG", i + 1),
    ("QFLAG", i + 1),
    ("SFLAG", i + 1)]
    for i in range(31)]
# Join sub-lists
data_replacement_col_names = sum(data_replacement_col_names, [])
data_replacement_col_names = pd.MultiIndex.from_tuples(
    data_replacement_col_names,
    names=['VAR_TYPE', 'DAY'])

data_col_specs = [[
    (21 + i * 8, 26 + i * 8),
    (26 + i * 8, 27 + i * 8),
    (27 + i * 8, 28 + i * 8),
    (28 + i * 8, 29 + i * 8)]
    for i in range(31)]
data_col_specs = sum(data_col_specs, [])

data_col_dtypes = [{
    "VALUE" + str(i + 1): int,
    "MFLAG" + str(i + 1): str,
    "QFLAG" + str(i + 1): str,
    "SFLAG" + str(i + 1): str}
    for i in range(31)]
data_header_dtypes.update({k: v for d in data_col_dtypes for k, v in d.items()})


# Reading functions #
path = "/home/rb/Documents/Python Projects/Futures_Price_Predict_0.1/Weather_Data/ghcnd-stations.txt"

def read_station_metadata(filename=path):
    """Reads in station metadata

    :filename: ghcnd station metadata file.
    :returns: station metadata as a pandas Dataframe

    """
    df = pd.read_fwf(filename, metadata_col_specs, names=metadata_names,
                     index_col='ID', dtype=metadata_dtype)

    return df

path = '/home/rb/Documents/Python Projects/Futures_Price_Predict_0.1/Weather_Data/noaa_ghcn/USC00011084.dly'
def read_ghcn_data_file(filename=path,
                        variables=None, include_flags=False,
                        dropna='all'):
    """Reads in all data from a GHCN .dly data file

    :param filename: path to file
    :param variables: list of variables to include in output dataframe
        e.g. ['TMAX', 'TMIN', 'PRCP']
    :param include_flags: Whether to include data quality flags in the final output
    :returns: Pandas dataframe
    """

    df = pd.read_fwf(
        filename,
        colspecs=data_header_col_specs + data_col_specs,
        names=data_header_names + data_col_names,
        index_col=data_header_names,
        dtype=data_header_dtypes
        )

    if variables is not None:
        df = df[df.index.get_level_values('ELEMENT').isin(variables)]

    df.columns = data_replacement_col_names

    if not include_flags:
        df = df.loc[:, ('VALUE', slice(None))]
        df.columns = df.columns.droplevel('VAR_TYPE')

    df = df.stack(level='DAY').unstack(level='ELEMENT')

    if dropna:
        df.replace(-9999.0, np.nan, inplace=True)
        df.dropna(how=dropna, inplace=True)

    # replace the entire index with the date.
    # This loses the station ID index column!
    # This will usuall fail if dropna=False, since months with <31 days
    # still have day=31 columns
    df.index = pd.to_datetime(
        df.index.get_level_values('YEAR') * 10000 +
        df.index.get_level_values('MONTH') * 100 +
        df.index.get_level_values('DAY'),
        format='%Y%m%d')

    return df

In [33]:
df1 = read_ghcn_data_file(filename=path, variables=None, include_flags=False, dropna='all')

In [37]:
df1['TMAX_CONV'] = ((df1.TMAX / 10) * (9/5)) + 32

In [38]:
df1

ELEMENT,DAPR,MDPR,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WT01,WT03,WT04,WT05,WT11,WT14,TMAX_CONV
1926-01-01,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1926-01-02,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1926-01-03,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1926-01-04,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1926-01-05,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-09-24,NaN,NaN,0.0,NaN,NaN,272.0,139.0,161.0,NaN,NaN,NaN,NaN,NaN,NaN,80.96
2014-09-25,NaN,NaN,0.0,NaN,NaN,283.0,144.0,144.0,NaN,NaN,NaN,NaN,NaN,NaN,82.94
2014-09-26,NaN,NaN,0.0,NaN,NaN,272.0,139.0,194.0,NaN,NaN,NaN,NaN,NaN,NaN,80.96
2014-09-27,NaN,NaN,0.0,NaN,NaN,272.0,161.0,217.0,NaN,NaN,NaN,NaN,NaN,NaN,80.96
2014-09-28,NaN,NaN,0.0,NaN,NaN,272.0,206.0,228.0,NaN,NaN,NaN,NaN,NaN,NaN,80.96

In [39]:
read_station_metadata(filename=path)

,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSN FLAG,HCN/CRN FLAG,WMO ID
ID,,,,,,,,
USC000110841,92601TMAX,-9999 -9,999 -,999,9 -9999 -9999 -9999 -99,99,-99,99 -
USC000110841,92601TMIN,-9999 -9,999 -,999,9 -9999 -9999 -9999 -99,99,-99,99 -
USC000110841,92601TOBS,-9999 -9,999 -,999,9 -9999 -9999 -9999 -99,99,-99,99 -
USC000110841,92601SNOW,0 6,0 6,NaN,0 6 0 6 0 6 0 6,0,6,0 6
USC000110841,92601SNWD,-9999 -9,999 -,999,9 -9999 -9999 -9999 -99,99,-99,99 -
...,...,...,...,...,...,...,...,...
USC000110842,01408PRCP,0 H,0 H,NaN,0 H 0 H 0 H 0 H,0,H 3,61 H
USC000110842,01409TMAX,350 H,350 H,34,4 H 339 H 306 H 333 H 3,28,H 3,39 H
USC000110842,01409TMIN,217 H,217 H,22,8 H 222 H 217 H 217 H 2,22,H 2,33 H
USC000110842,01409TOBS,217 H,256 H,23,3 H 222 H 217 H 233 H 2,39,H 2,39 H
USC000110842,01409PRCP,0 H,0 H,NaN,0 H 13 H 25 H 8 H,0,H,0 H

In [40]:
df1 = read_ghcn_data_file(filename=path, variables=None, include_flags=False, dropna='all')

In [41]:
df1

ELEMENT,DAPR,MDPR,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WT01,WT03,WT04,WT05,WT11,WT14
1926-01-01,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1926-01-02,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1926-01-03,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1926-01-04,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1926-01-05,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-09-24,NaN,NaN,0.0,NaN,NaN,272.0,139.0,161.0,NaN,NaN,NaN,NaN,NaN,NaN
2014-09-25,NaN,NaN,0.0,NaN,NaN,283.0,144.0,144.0,NaN,NaN,NaN,NaN,NaN,NaN
2014-09-26,NaN,NaN,0.0,NaN,NaN,272.0,139.0,194.0,NaN,NaN,NaN,NaN,NaN,NaN
2014-09-27,NaN,NaN,0.0,NaN,NaN,272.0,161.0,217.0,NaN,NaN,NaN,NaN,NaN,NaN
2014-09-28,NaN,NaN,0.0,NaN,NaN,272.0,206.0,228.0,NaN,NaN,NaN,NaN,NaN,NaN