In [5]:
testcol = [[
            "value" + str(i+1),
            "flag" + str(i +1)]
            for i in range(10)]

testcol

[['value1', 'flag1'],
 ['value2', 'flag2'],
 ['value3', 'flag3'],
 ['value4', 'flag4'],
 ['value5', 'flag5'],
 ['value6', 'flag6'],
 ['value7', 'flag7'],
 ['value8', 'flag8'],
 ['value9', 'flag9'],
 ['value10', 'flag10']]

In [13]:
if type(testcol) == list:
    print("a is a list")
else:
    print("a is a tuple")

a is a list

In [10]:
testcol2 = sum(testcol, [])

In [11]:
testcol2

['value1',
 'flag1',
 'value2',
 'flag2',
 'value3',
 'flag3',
 'value4',
 'flag4',
 'value5',
 'flag5',
 'value6',
 'flag6',
 'value7',
 'flag7',
 'value8',
 'flag8',
 'value9',
 'flag9',
 'value10',
 'flag10']

In [14]:
import itertools

In [15]:
# merged = list(itertools.chain.from_iterable(list2d))

flat = list(itertools.chain.from_iterable(testcol))

In [16]:
flat

['value1',
 'flag1',
 'value2',
 'flag2',
 'value3',
 'flag3',
 'value4',
 'flag4',
 'value5',
 'flag5',
 'value6',
 'flag6',
 'value7',
 'flag7',
 'value8',
 'flag8',
 'value9',
 'flag9',
 'value10',
 'flag10']

In [17]:
data_header_dtypes = {
    "ID": str,
    "YEAR": int,
    "MONTH": int,
    "ELEMENT": str}

In [18]:
data_header_dtypes

{'ID': str, 'YEAR': int, 'MONTH': int, 'ELEMENT': str}

In [19]:
data_col_dtypes = [{
    "VALUE" + str(i + 1): int,
    "MFLAG" + str(i + 1): str,
    "QFLAG" + str(i + 1): str,
    "SFLAG" + str(i + 1): str}
    for i in range(31)]

data_col_dtypes

[{'VALUE1': int, 'MFLAG1': str, 'QFLAG1': str, 'SFLAG1': str},
 {'VALUE2': int, 'MFLAG2': str, 'QFLAG2': str, 'SFLAG2': str},
 {'VALUE3': int, 'MFLAG3': str, 'QFLAG3': str, 'SFLAG3': str},
 {'VALUE4': int, 'MFLAG4': str, 'QFLAG4': str, 'SFLAG4': str},
 {'VALUE5': int, 'MFLAG5': str, 'QFLAG5': str, 'SFLAG5': str},
 {'VALUE6': int, 'MFLAG6': str, 'QFLAG6': str, 'SFLAG6': str},
 {'VALUE7': int, 'MFLAG7': str, 'QFLAG7': str, 'SFLAG7': str},
 {'VALUE8': int, 'MFLAG8': str, 'QFLAG8': str, 'SFLAG8': str},
 {'VALUE9': int, 'MFLAG9': str, 'QFLAG9': str, 'SFLAG9': str},
 {'VALUE10': int, 'MFLAG10': str, 'QFLAG10': str, 'SFLAG10': str},
 {'VALUE11': int, 'MFLAG11': str, 'QFLAG11': str, 'SFLAG11': str},
 {'VALUE12': int, 'MFLAG12': str, 'QFLAG12': str, 'SFLAG12': str},
 {'VALUE13': int, 'MFLAG13': str, 'QFLAG13': str, 'SFLAG13': str},
 {'VALUE14': int, 'MFLAG14': str, 'QFLAG14': str, 'SFLAG14': str},
 {'VALUE15': int, 'MFLAG15': str, 'QFLAG15': str, 'SFLAG15': str},
 {'VALUE16': int, 'MFLAG16': str, 'QFLAG16': str, 'SFLAG16': str},
 {'VALUE17': int, 'MFLAG17': str, 'QFLAG17': str, 'SFLAG17': str},
 {'VALUE18': int, 'MFLAG18': str, 'QFLAG18': str, 'SFLAG18': str},
 {'VALUE19': int, 'MFLAG19': str, 'QFLAG19': str, 'SFLAG19': str},
 {'VALUE20': int, 'MFLAG20': str, 'QFLAG20': str, 'SFLAG20': str},
 {'VALUE21': int, 'MFLAG21': str, 'QFLAG21': str, 'SFLAG21': str},
 {'VALUE22': int, 'MFLAG22': str, 'QFLAG22': str, 'SFLAG22': str},
 {'VALUE23': int, 'MFLAG23': str, 'QFLAG23': str, 'SFLAG23': str},
 {'VALUE24': int, 'MFLAG24': str, 'QFLAG24': str, 'SFLAG24': str},
 {'VALUE25': int, 'MFLAG25': str, 'QFLAG25': str, 'SFLAG25': str},
 {'VALUE26': int, 'MFLAG26': str, 'QFLAG26': str, 'SFLAG26': str},
 {'VALUE27': int, 'MFLAG27': str, 'QFLAG27': str, 'SFLAG27': str},
 {'VALUE28': int, 'MFLAG28': str, 'QFLAG28': str, 'SFLAG28': str},
 {'VALUE29': int, 'MFLAG29': str, 'QFLAG29': str, 'SFLAG29': str},
 {'VALUE30': int, 'MFLAG30': str, 'QFLAG30': str, 'SFLAG30': str},
 {'VALUE31': int, 'MFLAG31': str, 'QFLAG31': str, 'SFLAG31': str}]

In [29]:
flat_data_col_dtypes = list(itertools.chain.from_iterable(data_col_dtypes))

In [30]:
flat_data_col_dtypes

['VALUE1',
 'MFLAG1',
 'QFLAG1',
 'SFLAG1',
 'VALUE2',
 'MFLAG2',
 'QFLAG2',
 'SFLAG2',
 'VALUE3',
 'MFLAG3',
 'QFLAG3',
 'SFLAG3',
 'VALUE4',
 'MFLAG4',
 'QFLAG4',
 'SFLAG4',
 'VALUE5',
 'MFLAG5',
 'QFLAG5',
 'SFLAG5',
 'VALUE6',
 'MFLAG6',
 'QFLAG6',
 'SFLAG6',
 'VALUE7',
 'MFLAG7',
 'QFLAG7',
 'SFLAG7',
 'VALUE8',
 'MFLAG8',
 'QFLAG8',
 'SFLAG8',
 'VALUE9',
 'MFLAG9',
 'QFLAG9',
 'SFLAG9',
 'VALUE10',
 'MFLAG10',
 'QFLAG10',
 'SFLAG10',
 'VALUE11',
 'MFLAG11',
 'QFLAG11',
 'SFLAG11',
 'VALUE12',
 'MFLAG12',
 'QFLAG12',
 'SFLAG12',
 'VALUE13',
 'MFLAG13',
 'QFLAG13',
 'SFLAG13',
 'VALUE14',
 'MFLAG14',
 'QFLAG14',
 'SFLAG14',
 'VALUE15',
 'MFLAG15',
 'QFLAG15',
 'SFLAG15',
 'VALUE16',
 'MFLAG16',
 'QFLAG16',
 'SFLAG16',
 'VALUE17',
 'MFLAG17',
 'QFLAG17',
 'SFLAG17',
 'VALUE18',
 'MFLAG18',
 'QFLAG18',
 'SFLAG18',
 'VALUE19',
 'MFLAG19',
 'QFLAG19',
 'SFLAG19',
 'VALUE20',
 'MFLAG20',
 'QFLAG20',
 'SFLAG20',
 'VALUE21',
 'MFLAG21',
 'QFLAG21',
 'SFLAG21',
 'VALUE22',
 'MFLAG22',
 'QFLAG22',
 'SFLAG22',
 'VALUE23',
 'MFLAG23',
 'QFLAG23',
 'SFLAG23',
 'VALUE24',
 'MFLAG24',
 'QFLAG24',
 'SFLAG24',
 'VALUE25',
 'MFLAG25',
 'QFLAG25',
 'SFLAG25',
 'VALUE26',
 'MFLAG26',
 'QFLAG26',
 'SFLAG26',
 'VALUE27',
 'MFLAG27',
 'QFLAG27',
 'SFLAG27',
 'VALUE28',
 'MFLAG28',
 'QFLAG28',
 'SFLAG28',
 'VALUE29',
 'MFLAG29',
 'QFLAG29',
 'SFLAG29',
 'VALUE30',
 'MFLAG30',
 'QFLAG30',
 'SFLAG30',
 'VALUE31',
 'MFLAG31',
 'QFLAG31',
 'SFLAG31']